@model MvcCrudProje.Models.Calisan
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Guncelle</h2>

@*<form method="post">
        <div class="form-group">
            <label>Departman Adı</label>
            <input type="text" name="Ad" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Ekle</button>
    </form>*@

@using (Html.BeginForm("Guncelle", "Calisan", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Ad)
        @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
        @Html.LabelFor(m => m.Soyad)
        @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
        @Html.LabelFor(m => m.Maas)
        @Html.TextBoxFor(m => m.Maas, new { @class = "form-control" })
        @Html.LabelFor(m => m.departmanId)
        @Html.TextBoxFor(m => m.departmanId, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Guncelle</button>
}
